
<head>

</head>
<body>
  <div class="wrapper" style="margin-top: 11%;">
 
  <hr>
    <div class="container">
      <div class="content">
        <div class="row">
          
          <h1>Liste des Donations</h1>
          <br>
          <form class="form-inline mb-4">
    
            <select id="category" class="form-control mr-sm-2 flex-grow-1" name="mySelect" >
              <option value="">All type</option>
              <option value="money">Monnaie</option>
              <option value="object">object </option>
            </select>
            <i class="fas fa-filter mr-2"></i>


          </form>
         
          <table class="table">
            <thead>
                              <tr>
                                
     <tr>
    <th>Frequency</th> 
    <th>ObjectType</th> 
    <th>Description</th> 
    <th class="amount">Amount</th> 
    <th>Date</th> 
    <th>Status</th> 
  </tr>
                          
                            </thead>
                            <tbody *ngFor="let c of filteredDonations ">
                              <tr>
                                <td>{{c.frequence}}</td>
                                <td>{{c.typeObjet}}</td>
                                <td>{{c.description}}</td>
                                 
                                <td  data-donation-amount="50-99">   <i class="fas fa-donate icon-donation"></i>
                                  {{c.montant}} </td>
                                <td>{{c.date}}</td>
    
                                <td><i class="fas fa-check-circle text-success"></i></td>         
                                <td><button type="button" class="btn btn-primary btn-sm mr-2"><i>Delete</i></button></td>
                                
                             
                              </tr>
                              
                            </tbody>

                          </table> 
            
               </div>
      
    </div>
  </div>
</div>
  </body>
