
<button class=" btn btn-outline-success fixed-top  " style="max-width: 50em; margin-top: 12rem; margin-left: 100rem;" mat-raised-button (click)="openDialog()">Add new Blog</button>
<div class="row m-t-40 justify-content-center max-width " style="margin-top: 1rem; max-width: 1200px; margin-left: 25rem;">
  

  <!-- Column -->
  <div
    class="col-md-8 no-trans border-bottom mb-4" 
    *ngFor="let bl of listArticles |slice:0:count*6"
  >
    <div class="card" data-aos="flip-left" data-aos-duration="1200" style="padding-top: 2rem; padding-bottom: 0.5rem; padding-left: 1rem;">
      <div class="row " >
        <div class="col-md-2 no-trans">
          <span class="text-dark  font-medium">{{ bl.createdAt }}</span>
          <h6 class="card-subtitle font-12 mt-1">User</h6>
        </div>
        <div class="col-md-7 no-trans">
          <h2 class="font-medium cursor-pointer" style="margin-bottom: 1rem;" (click)="viewDetail(bl.idartcile)">
            {{ bl.title.substring(0, 50) }}..
          </h2>
          <p class="m-t-20">
            {{ bl.description }}
          </p>
        </div>
        <div class="col-md-3 no-trans">
          <a class="linking font-medium text-themecolor m-t-10 cursor-pointer">
          <button class="btn btn-light float-right" style="margin-right: 1rem; margin-top: 5rem;">
            <span (click)="viewDetail(bl.idartcile)">Show Detail</span>
            <i class="ti-arrow-right"></i>
          </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <button  type="button" class="btn btn-light" *ngIf="count*4<listArticles.length" (click)="count=count+1">See More...</button>
</div>