.sidebar {
  background-color: #ffffff;
  color: #000000;
}

.sidebar a {
  color: #000000;
}

.sidebar a:hover {
  color: #002aff;
}

.logo {
  padding: 20px;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

.logo-image-small img {
  max-width: 30px;
  max-height: 30px;
}

.sidebar-wrapper {
  padding: 20px;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-wrapper ul li {
  margin-bottom: 10px;
}

.sidebar-wrapper ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.sidebar-wrapper ul li a i {
  color: #9b33be;
  margin-right: 10px;
}

.sidebar-wrapper ul li a:hover {
  color: #ff004d;
}
.sidebar-wrapper {
  background-color: #0048ff;
}


.active {
  background-color: rgba(230, 0, 255, 0.96);
  color: #ffffff;
}

.active a {
  color: #ffffff !important;
}

